<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web sitelerinin ve html dosyalarınızın SEO uygunluğunu test edin">
    <title>Zinu SEO Crawler</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

    <div class="container-xxl bg-white p-0">

        <!-- Navbar -->
        <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary text-light flex-row">
            <a class="navbar-brand font-weight-bolder" href="/">Zinu Crawler SEO TEST</a>

            <div class="navbar-nav-scroll">
                <ul class="navbar-nav mt+2 mt-mr+2 flex-row">
                    <li class="nav-item">
                        <a class="nav-link pr-5" href="/anasayfa">Anasayfa <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pr-5 " href="#">Biz Kimiz?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pr-5 " href="#">Görüşleriniz</a>
                    </li>
                </ul>
            </div>
        </nav>

        <br><br><br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card border-danger mb-3 text-center" style="width: 100%; height: 150%;">
                        <div class="card-header">Web SEO Crawl</div>
                        <div class="card-body">
                            <h5 class="card-title text-secondary">Web Sitelerini Test Edin</h5><br>
                            <p class="card-text text-danger">Girilen adresin SEO uygunluğunu test edip bilgilendirme sağlar</p><br><br>
                            <a href="/web" class="btn btn-danger" style="margin-top: 20px; margin-bottom: 10px;">Hadi Başlayalım</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card border-success mb-3 text-center" style="width: 100%; height: 150%;">
                        <div class="card-header">File SEO Crawl</div>
                        <div class="card-body">
                            <h5 class="card-title text-secondary">.html Uzantılı Dosyalarınızı Test Edin</h5><br>
                            <p class="card-text text-success">Yüklenen dosyanın SEO uygunluğunu test edip bilgilendirme sağlar</p><br><br>
                            <a href="/file" class="btn btn-success" style="margin-top: 20px; margin-bottom: 10px;">Hadi Başlayalım</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br>
        <!-- Footer -->
        <footer class="navbar navbar-dark bg-primary text-light fixed-bottom text-center" style="font-size: 20px; padding: 15px;">
            <span class="navbar-text text-center">Zinu SEO Crawler 2024</span>
        </footer>

    </div>
</body>

</html>
